*{
    font-family: 'Nunito';
}
 .bd{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(1,0.5,2,0.7), rgba(1,0.5,2,0.7)), url(Misc2.jpg);
    background-size: cover;
}
  #preloader{
    background: white url(Rhombus.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: 3s all;
}